/* .container {
    text-align: center;
    margin-top: 20px;
}

.voteButton {
    margin-top: 10px;
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
